.popular-posts-widget .popular-post {
	display: flex;
	flex-flow: column nowrap;
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #f2f2f2;
	align-items: center;
}
.popular-posts-widget .popular-post:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
.popular-posts-widget .popular-post .image {	
    flex-shrink: 0;
    width: 100%;
    margin-bottom: 20px;
}
.popular-posts-widget .popular-post .image a {
	width: 100%;
	height: 1px;
	padding-top: 56.25%;
	display: block;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #f2f2f2;
}
.popular-posts-widget .popular-post .content .title a {
	font-weight: bold;
}
.popular-posts-widget .popular-post .content .excerpt {
	font-size: 10px;
}
.popular-posts-widget .popular-post .content .views {
	font-size: 10px;
	opacity: .8;
	margin-top: 10px;
}